.card {
    max-width: 100%;
}

.media {
    height: 240px;
}

.description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-align: justify;
}

.cardActions {
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
}

.author {
    display: flex;
}