.paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 8px;
    background-color: #1983FF;
    width: 80px;
    height: 80px;
}

.form {
    width: 100%;
    margin-top: 24px;
}

.submit {
    margin: 24px 0 16px;
}

.uploadOverlay {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 24px;
    padding-left: 8px;
    height: 80px;
    width: 80px;
    display: none;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 50%;
}
.uploadOverlay:hover {
    cursor: pointer;
}
.uploadOverlay span {
    color: white;
    font-size: 12px;
}

.avatarWrapper {
    position: relative;
}
.avatarWrapper:hover .uploadOverlay {
    display: block;
}